@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Big Jim's House O' Cars</h1>
    <p class="lead">Welcome to Big Jim's House O' Cars!</p>
    <p class="lead">If you are looking for great customer satisfaction with a wide selection of quality pre-owned Cars, SUVs & Diesel Trucks, you have come to the right place. We have been in business for 29 years, with 44 years of experience. You can rely on Big Jim and his team to get you in the vehicle you desire with the financing you need. We offer in-house financing. Good, bad, or no credit no problem.
    </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Available Inventory</h2>
        <p>
            Check out Big Jim's available inventory!
        </p>
        <p><a class="btn btn-default" href="/Auto/Index">Check It Out! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>You can easily find a us by following your nose.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contact Us &raquo;</a></p>
    </div>
</div>